@model List<SelectListItem>
@{
    var brojac = 0;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Redni broj</th>
            <th scope="col">Naziv regije</th>
            <th scope="col">Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SelectListItem x in Model)
        {
            @if (x.Text != null)
            {
                <tr>
                    <th scope="row"> @(++brojac)  </th>
                    <td>  @x.Text </td>
                    <td>
                        <a href="/Region/Obrisi?regionID=@x.Value" class="btn btn-primary">Obriši</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<button type="button" class="btn btn-primary" id="btn-popup">
    Dodaj regiju
</button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-url="@Url.Action("DodajForma","Region")">
</div>

<a href="/Region">Go back.</a>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-popup").click(function () {
                event.preventDefault();
                var url = $("#exampleModalCenter").data('url');
                jQuery.get(url, function (data) {

                    $("#exampleModalCenter").html(data);
                    $("#exampleModalCenter").modal('show');

                })
            })
        });
    </script>
}
