@model List<CourseVM>
@{
    ViewData["Title"] = "StudentHome";
}

<div class="dashboard__content">
    <div class="slider demo">
        @foreach (CourseVM x in Model)
        {
            @if (x.CourseName != null)
            {
                <div class="dashboardContent__slide">
                    <div class="slide__top" style="background-image:url(https://picsum.photos/200)">

                    </div>
                    <div class="slide__bottom">
                    <h5>  @x.CourseName </h5>
                    <p>  @x.Start </p>
                    <p>  @x.End </p>
                    <p>  @x.Notes </p>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section  Scripts{

<style>
    .dashboard__content{
        width:100%;
        margin:0px auto;
    }
    .slick-slide{
        /*width:250px!important;*/
        margin:0px 14px;
    }
    .slick-slider {
        width: 80%;
        margin: 0px auto;
    }

    .slick-track {
        padding: 25px 0px;
    }
    .dashboardContent__slide{
     background-color:white;
     box-shadow: 0 9px 18px 0 rgba(6, 1, 108, 0.05);
     border-radius:15px;
     height:290px;
    }
    .slide__top{
        width:100%;
        height:150px;
        border-top-left-radius:15px;
        border-top-right-radius:15px;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
    }
    .slide__bottom{
     padding:6px 13px;

    }
    .dashboardContent__slide h5{
        font-size:1rem;
    }
    .dashboardContent__slide p{
        margin-bottom:0.4rem;
        font-size:0.6rem;
    }
</style>
<script>
    $(document).ready(function(){
  $('.demo').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      centerMode: true,
      draggable:true,
      focusOnSelect:true,
      pauseOnHover:true,
      pauseOnFocus: true,

});
});
</script>
}