<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/iconic/css/material-design-iconic-font.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/css-hamburgers/hamburgers.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/animsition/css/animsition.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/select2/select2.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/css/login1.css" rel="stylesheet" />
    <link href="~/css/login2.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>

<body>
    @RenderBody()

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/login.js"></script>

</body>
</html>
