@model CourseAddVM
@{
    var courseSections = (List<SelectListItem>)ViewData["courseSections"];
}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj kurs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="Dodaj" method="post" id="forma">
            <div class="modal-body">
                <input asp-for="CourseID" style="display:none" />
                <div class="form-group">
                    <label>Početak kursa</label>
                    <input asp-for="Start" type="date" class="form-control" name="Start" id="pocetakKrsa" />
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Kraj kursa</label>
                    <input asp-for="End" type="date" class="form-control" name="End" id="krajKursa"/>
                    <span asp-validation-for="End" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Bilješka</label>
                    <input asp-for="Notes" type="text" class="form-control" name="Notes" id="biljeska" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Oblasti kursa</label>
                    <select asp-for="CourseSectionID" asp-items="courseSections" class="form-control">
                        <option disabled>(Odaberite oblast kursa)</option>
                    </select>
                    <span asp-validation-for="CourseSectionID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Omogući sesije kursa</label>
                    <input asp-for="EnableCourseSessions" type="checkbox" class="form-control" name="EnableCourseSessions" id="sesijeKursa" />
                    <span asp-validation-for="EnableCourseSessions" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Omogući video snimanje</label>
                    <input asp-for="EnableVideoRecording" type="checkbox" class="form-control" name="EnableVideoRecording" id="snimanjeKursa" />
                    <span asp-validation-for="EnableVideoRecording" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                    <input type="submit" class="btn btn-primary" value="Sačuvaj" id="submit">
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

</div>

<style>
    .error {
        color: darkred;
        display: block;
    }
</style>
