<a href="@Url.Action("Home", "Dashboard")" class="@Html.IsActive("Dashboard", "Home")"><i class="icon-home"></i><span>Radna ploča</span></a>
<a href="#"><i class="icon-layers"></i><span>Moji kursevi</span></a>
<a href="#"><i class="icon-notebook"></i><span>Obavijesti</span></a>
<a href="#"><i class="icon-docs"></i><span>Nastavni materijal</span></a>
<a href="#"><i class="icon-check"></i><span>Testovi</span></a>
<a href="#"><i class="icon-speech"></i><span>Pošalji prijedlog</span></a>
