@model LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginRegisterLayout";

}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form asp-controller="Account" asp-action="Login" method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-49">
                        Prijava
                    </span>



                    <div class="wrap-input100 validate-input m-b-23" data-validate="Obavezno polje">
                        <span class="label-input100">Korisničko ime</span>
                        <input asp-for="Username" class="input100" type="text" placeholder="Unesite korisničko ime" autocomplete="off">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Obavezno polje">
                        <span class="label-input100">Lozinka</span>
                        <input class="input100" asp-for="Password" placeholder="Unesite lozinku">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div asp-validation-summary="All" style="text-align: center; margin-top: 10px;" class="text-danger"></div>

                    <div class="text-right p-t-8 p-b-31">
                        <a href="@Url.Action("ForgotPassword", "Account")">
                            Zaboravili ste lozinku?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit" id="log_in" data-loading-text="Prijava korisnika...">
                                Prijava
                            </button>
                        </div>
                    </div>

                    <div class="flex-col-c p-t-155">

                        <a href="@Url.Action("Register", "Account")" class="txt2">
                            Registrujte se
                        </a>
                    </div>
                </form>
            </div>

            <div class="svg-top">
                <object data="~/img/svg/blog-list-dots.svg" type="image/svg+xml"></object>
            </div>

            <div class="svg-bottom">
                <object data="~/img/svg/blog-list-dots.svg" type="image/svg+xml"></object>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>
