<style>
    #map {
        width: 100%;
        height: 70vh;
    }
</style>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Home", "Dashboard")">Radna ploča</a>
            <i class="fa fa-arrow-circle-right"></i>
        </li>
        <li>
            <span>Mapa</span>
        </li>
    </ul>
</div>
<h1 class="page-title">
    Korištenje naše aplikacije
    <small>širom svijeta</small>
</h1>
<div id="map"></div>
